body {
  background-color: pink;
}

.App p {
  font-size: 5em;
  overflow: hidden;
  text-align: end;
  margin-right: -17em;
}

.App img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animate__animated.animate__slideInLeft {
  --animate-duration: 10s;
}
