body {
  background-color: pink;
}

.App p {
  font-size: 5em;
  overflow: hidden;
  margin-left: -35em;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.App img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animate__animated.animate__slideInRight {
  --animate-duration: 10s;
}
